@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: rgb(192, 225, 252);
    margin: 0;
    font-family: Arial, sans-serif;
}

#main {
    padding: 15px;
}
.App-header {
  display: grid;
  grid-template-columns: auto 1fr auto; 
  align-items: center; 
  padding: 10px 20px; 
  width: 100%; 
  box-sizing: border-box; 
}

.AddLogo {
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-bottom: 2px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.App-logo-brand {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.App-logo-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem; 
  font-weight: bold; 
  color: #333; 
  justify-self: center;
}


h1 {
    text-align: center;
    color: black;
    margin-bottom: 10px;
    font-size: 28px;
}

button {
    background-color: #3498db;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 20px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

button:disabled {
    background-color: #0c1013;
    cursor: not-allowed;
}