/* App.css */

body {
    background-color: rgb(192, 225, 252);
    margin: 0;
    font-family: Arial, sans-serif;
}

#main {
    padding: 15px;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-size: 24px;
}

button {
    background-color: #3498db;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 20px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

button:disabled {
    background-color: #0c1013;
    cursor: not-allowed;
}